.plus-container-hero
    h2 Bla Bla

.plus-project-card
    .wrapper
        h2.main-title Bla
        h3.project-title 华丽的分割线
        ul.project-card-items
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc
                        a(href="#") Project Name
                        .state 招募中
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc
                        a(href="#") Project Name
                        .state 招募中
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc
                        a(href="#") Project Name
                        .state 招募中
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc
                        a(href="#") Project Name
                        .state 招募中
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc
                        a(href="#") Project Name
                        .state 招募中
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc
                        a(href="#") Project Name
                        .state 招募中


        h3.project-title 华丽的分割线2
