.plus-container-hero.plus-banner-01
    h2 Bla Bla

.plus-page-index
    .plus-project-card
        .wrapper
            h2.main-title Bla
            h3.project-title
                span 华丽的分割线
            ul.project-card-items
                li.project-card-item
                    .project-card
                        .cool
                            .front
                                .box
                        .desc
                            a(href="#") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .cool
                            .front
                                .box
                        .desc
                            a(href="#") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .cool
                            .front
                                .box
                        .desc
                            a(href="#") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .cool
                            .front
                                .box
                        .desc
                            a(href="#") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .cool
                            .front
                                .box
                        .desc
                            a(href="#") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .cool
                            .front
                                .box
                        .desc
                            a(href="#") Project Name
                            .state 招募中

    .plus-person-card
        .wrapper
            h3.person-title
                span 华丽的分割线2
            ul.person-card-items
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/aa.png")
                            h3 Super1
                            .info
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/bb.png")
                            h3 Super1
                            .info
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/cc.png")
                            h3 Super1
                            .info
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/aa.png")
                            h3 Super1
                            .info
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/bb.png")
                            h3 Super1
                            .info
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/cc.png")
                            h3 Super1
                            .info
