.plus-container-hero
    h2 招募中

.plus-project-card
    .wrapper
        h2.main-title 招募
        h3.project-title 测试
        ul.project-card-items
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc

            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc
            li.project-card-item
                .project-card
                    .cool
                        .front
                            .box
                    .desc desc

