.plus-container-hero.plus-banner-01
    h2 Bla Bla

.plus-page-index
    .plus-project-card
        .wrapper
            h2.main-title Bla
            h3.project-title
                span 华丽的分割线
            ul.project-card-items
                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                .back
                        .desc
                            a(href="#/projects/1") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper.round
                                .front
                                .back
                        .desc
                            a(href="#/projects/2") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                .back
                        .desc
                            a(href="#/projects/3") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                .back
                        .desc
                            a(href="#/projects/4") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                .back
                        .desc
                            a(href="#/projects/5") Project Name
                            .state 招募中
                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                .back
                        .desc
                            a(href="#/projects/6") Project Name
                            .state 招募中

    .plus-person-card
        .wrapper
            h2.main-title huo
            h3.person-title
                span 华丽的分割线2
            ul.person-card-items
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/aa.png")
                            h3 Super1
                            .info developer
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/bb.png")
                            h3 Super1
                            .info ux
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/cc.png")
                            h3 Super1
                            .info developer
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/aa.png")
                            h3 Super1
                            .info ba
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/bb.png")
                            h3 Super1
                            .info ux
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/cc.png")
                            h3 Super1
                            .info web