a.navbar-brand(href="#")
  | Plus+
ul.nav.navbar-nav.plus-nav
  li.active
    a(href="#/recruiting")
      | 招募
  li
    a(href="#/projects")
      | 项目
  li
    a(href="#/persons")
      | 人物

ul.nav.navbar-nav.plus-nav.navbar-right
  li.active
    a(href="#/projects")
      | 登录
  li
    a(href="#/persons")
      | 注册

.clearfix