.plus-container-hero.plus-banner-01
    h2 Bla Bla2

.plus-page-index
    .plus-project-card
        .wrapper
            h2.main-title Bla
            h3.project-title
                span 华丽的分割线
            ul.project-card-items
                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                    img(src="/modules/project/images/project_moco.png")
                                .back
                                    .box
                                        .last 限时招募
                                        h4 Moco
                                        .info
                                            | Moco is an easy setup stub framework, mainly focusing on testing and integration, inspired by Mock framework

                        .desc
                            a(href="#/projects/1") Moco
                            .state 招募中

                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                    img(src="/modules/project/images/project_terminal.jpg")
                                .back
                        .desc
                            a(href="#/projects/3") Web Terminal
                            .state 招募中

                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                    img(src="/modules/project/images/project_labs.jpeg")
                                .back
                        .desc
                            a(href="#/projects/4") Opensource Labs
                            .state 招募中

                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                    img(src="/modules/project/images/project_viff.jpeg")
                                .back
                        .desc
                            a(href="#/projects/5") Viff
                            .state 招募中

                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper.round
                                .front
                                    img(src="/modules/project/images/project_libr.jpeg")
                                .back
                        .desc
                            a(href="#/projects/2") Libr
                            .state 招募中



                li.project-card-item
                    .project-card
                        .flip-container(ontouchstart="this.classList.toggle('hover');")
                            .flipper
                                .front
                                    img(src="/modules/project/images/project_default.jpg")
                                .back
                        .desc
                            a(href="#/projects/6") Project Name
                            .state 招募中

    .plus-person-card
        .wrapper
            h2.main-title huo
            h3.person-title
                span 华丽的分割线2
            ul.person-card-items
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/aa.jpg")
                            h3 Super1
                            .info developer
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/bb.jpg")
                            h3 Super1
                            .info ux
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/cc.jpg")
                            h3 Super1
                            .info developer
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/aa.jpg")
                            h3 Super1
                            .info ba
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/bb.jpg")
                            h3 Super1
                            .info ux
                li.person-card-item
                    .cool
                        .front
                            .avatar
                                a
                                    img(src="https://github.com/identicons/cc.jpg")
                            h3 Super1
                            .info web