.wrapper {
  width: 1010px;
  margin: 0 auto;
  margin-top: 30px;
}
.plus-hr-title {
  text-align: center;
  position: relative;
  word-break: break-all;
}
.plus-hr-title span {
  padding: 0 12px;
  background-color: #fff;
  position: relative;
}
.plus-hr-title:before {
  content: '';
  width: 100%;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 0;
}
.plus-border-hr-title {
  text-align: center;
  position: relative;
  word-break: break-all;
}
.plus-border-hr-title span {
  padding: 6px 12px;
  background-color: #fff;
  position: relative;
  border: 4px solid #e1e1e1;
}
.plus-border-hr-title:before {
  content: '';
  width: 100%;
  border-top: 4px solid #e1e1e1;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 0;
}
.plus-main-title {
  color: #646878;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding-top: 66px;
  margin: 0;
}
.flip-slice {
  min-width: 280px;
  min-height: 280px;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container {
  /*  UPDATED! front pane, placed above back */
  /* back, initially hidden pane */
  /* flip speed goes here */
}
.flip-container .front {
  z-index: 2;
  transform: rotateY(0deg);
  min-width: 280px;
  min-height: 280px;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container.vertical {
  position: relative;
}
.flip-container.vertical .back {
  transform: rotateX(180deg);
}
.flip-container.vertical:hover .back {
  transform: rotateX(0deg);
}
.flip-container.vertical:hover .front {
  transform: rotateX(180deg);
}
.flip-container .back {
  transform: rotateY(-180deg);
  min-width: 280px;
  min-height: 280px;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container:hover .back {
  transform: rotateY(0deg);
}
.flip-container:hover .front {
  transform: rotateY(180deg);
}
.flip-container .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.plus-page-index .plus-project-card .main-title {
  color: #646878;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding-top: 66px;
  margin: 0;
}
.plus-page-index .plus-project-card .project-title {
  font-size: 16px;
  color: #646878;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  word-break: break-all;
}
.plus-page-index .plus-project-card .project-title span {
  padding: 0 12px;
  background-color: #fff;
  position: relative;
}
.plus-page-index .plus-project-card .project-title:before {
  content: '';
  width: 100%;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 0;
}
.plus-page-index .project-card-items {
  margin: 0 0 50px;
  padding: 0;
}
.plus-page-index .project-card-items .project-card-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 85px;
  margin-bottom: 23px;
}
.plus-page-index .project-card-items .project-card-item .flip-container {
  width: 280px;
  height: 280px;
}
.plus-page-index .project-card-items .project-card-item .front {
  border-radius: 50%;
  border: 4px solid #eee;
}
.plus-page-index .project-card-items .project-card-item .front img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
}
.plus-page-index .project-card-items .project-card-item .back {
  border-radius: 50%;
  background-color: #7b93e6;
  border: 4px solid #eee;
}
.plus-page-index .project-card-items .project-card-item .back img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
}
.plus-page-index .project-card-items .project-card-item:nth-child(3n+0) {
  margin-right: 0;
}
.plus-page-index .project-card-items .project-card-item .cool {
  position: relative;
  height: 280px;
  border-radius: 50%;
  background-color: #dddddd;
}
.plus-page-index .project-card-items .project-card-item .desc {
  font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  text-align: center;
  margin-top: 20px;
}
.plus-page-index .project-card-items .project-card-item .desc a {
  color: #646878;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
}
.plus-page-index .project-card-items .project-card-item .desc .state {
  font-size: 20px;
  font-weight: bold;
  color: #646878;
  margin-top: 5px;
}
.plus-page-index .plus-person-card {
  background-color: #f5f6f7;
}
.plus-page-index .plus-person-card .main-title {
  color: #646878;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding-top: 66px;
  margin: 0;
}
.plus-page-index .plus-person-card .person-title {
  font-size: 16px;
  text-align: center;
  position: relative;
  word-break: break-all;
  color: #646878;
  margin-bottom: 30px;
}
.plus-page-index .plus-person-card .person-title span {
  padding: 6px 12px;
  background-color: #fff;
  position: relative;
  border: 4px solid #e1e1e1;
}
.plus-page-index .plus-person-card .person-title:before {
  content: '';
  width: 100%;
  border-top: 4px solid #e1e1e1;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 0;
}
.plus-page-index .plus-person-card .person-card-items {
  margin: 0 0 50px 0px;
  padding: 0;
  text-align: center;
}
.plus-page-index .plus-person-card .person-card-items .person-card-item {
  position: relative;
  display: inline-block;
  width: 280px;
  margin-right: 76px;
  vertical-align: top;
  margin-top: 20px;
}
.plus-page-index .plus-person-card .person-card-items .person-card-item:nth-child(3n+0) {
  margin-right: 0;
}
.plus-page-index .plus-person-card .person-card-items .person-card-item .cool {
  position: relative;
  height: 280px;
}
.plus-page-index .plus-person-card .person-card-items .person-card-item .cool .front {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 280px;
  height: 280px;
  padding: 24px;
  z-index: 8;
  border: 3px solid #eee;
  background: #fff;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}
.plus-page-index .plus-person-card .person-card-items .person-card-item .cool .front .avatar a img {
  width: 100px;
  height: 100px;
  border: 4px solid #eee;
  padding: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.plus-page-index .plus-person-card .person-card-items .person-card-item .cool .front .avatar a img:hover {
  border-color: #00b3ee;
}
.plus-page-index .plus-person-card .person-card-items .person-card-item .cool .front h3 {
  font-size: 18px;
  color: #646878;
  text-align: center;
  font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', "微软雅黑", STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  font-weight: 500;
}
