.wrapper {
  width: 1010px;
  margin: 0 auto;
  margin-top: 30px;
}
.plus-hr-title {
  text-align: center;
  position: relative;
  word-break: break-all;
}
.plus-hr-title span {
  padding: 0 12px;
  background-color: #fff;
  position: relative;
}
.plus-hr-title:before {
  content: '';
  width: 100%;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 0;
}
.plus-border-hr-title {
  text-align: center;
  position: relative;
  word-break: break-all;
}
.plus-border-hr-title span {
  padding: 6px 12px;
  background-color: #fff;
  position: relative;
  border: 4px solid #e1e1e1;
}
.plus-border-hr-title:before {
  content: '';
  width: 100%;
  border-top: 4px solid #e1e1e1;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 0;
}
.plus-main-title {
  color: #646878;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding-top: 66px;
  margin: 0;
}
.flip-slice {
  min-width: 280px;
  min-height: 280px;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container {
  /*  UPDATED! front pane, placed above back */
  /* back, initially hidden pane */
  /* flip speed goes here */
}
.flip-container .front {
  z-index: 2;
  transform: rotateY(0deg);
  min-width: 280px;
  min-height: 280px;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container.vertical {
  position: relative;
}
.flip-container.vertical .back {
  transform: rotateX(180deg);
}
.flip-container.vertical:hover .back {
  transform: rotateX(0deg);
}
.flip-container.vertical:hover .front {
  transform: rotateX(180deg);
}
.flip-container .back {
  transform: rotateY(-180deg);
  min-width: 280px;
  min-height: 280px;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container:hover .back {
  transform: rotateY(0deg);
}
.flip-container:hover .front {
  transform: rotateY(180deg);
}
.flip-container .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
