@import "ideas-plus-base";

.plus-page-index {

  .plus-project-card {
    .main-title {
      color: #646878;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      padding-top: 66px;
      margin: 0;
    }
    .project-title {
      font-size: 16px;
      color: #646878;
      margin-bottom: 30px;
      .plus-hr-title
    }
  }
  .project-card-items {
    margin: 0 0 50px;
    padding: 0;
    .project-card-item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 280px;
      margin-right: 56px;
      margin-bottom: 23px;

      .cool {
        position: relative;
        height: 280px;
        border-radius: 50%;
        background-color: #dddddd;
        .front {
          .box {

          }
        }
      }
      .desc {
        text-align: center;
        a {
          font-size: 16px;
          line-height: 1.5;
          text-align: center;
          margin-top: 10px;
          display: inline-block;
        }
        .state {
          font-size: 20px;
          font-weight: bold;
          color: #646878;
        }
      }

    }

  }

  .plus-person-card {

    .person-title {
      font-size: 16px;
      color: #646878;
      margin-bottom: 30px;
      .plus-hr-title
    }
    .person-card-items {
      margin: 0 0 50px;
      padding: 0;
      text-align: center;
      .person-card-item {
        position: relative;
        display: inline-block;
        width: 280px;
        margin-right: 56px;
        vertical-align: top;
        .cool {
          position: relative;
          height: 280px;
          .front {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 280px;
            height: 280px;
            padding: 24px;
            z-index: 8;
            border: 3px solid #eee;
            background: #fff;
            transform: rotateY(0deg);
            transform-style: preserve-3d;
            transition: all .4s ease-in-out;
            .avatar {
              a {
                img {
                  width:100px;
                  height: 100px;
                  border: 4px solid #eee;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  transition: all .4s ease-in-out;
                }
              }
            }
            h3 {

            }
            .info {

            }
          }
        }
      }
    }
  }

}




