.wrapper {
  width: 1010px;
  margin: 0 auto;
  margin-top:30px;
}

.plus-hr-title {
  text-align: center;
  position: relative;
  word-break:break-all;
  span {
    padding: 0 12px;
    background-color: #fff;
    position: relative;
  }
  &:before {
    content: '';
    width: 100%;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 0;
  }
}

.plus-border-hr-title {

  text-align: center;
  position: relative;
  word-break:break-all;
  span {
    padding: 6px 12px;
    background-color: #fff;
    position: relative;
    border: 4px solid #e1e1e1;

  }
  &:before {
    content: '';
    width: 100%;
    border-top: 4px solid #e1e1e1;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 0;
  }
}

.plus-main-title {
  color: #646878;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding-top: 66px;
  margin: 0;
}