.plus-container{
  padding-left: 10px;
  padding-right: 10px;
}

.plus-header {
  box-shadow: 0 0 2px #e1e5e6;
  .plus-nav {
    li {
      display: inline-block;
      &.active{
        a {
          color: #4764cf;
        }
      }
      a{
        color: #878787;


      }
    }
  }
}



