.plus-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -20px;
}
.plus-container-hero {
  height: 260px;
  background-color: #dddddd;
}
.plus-container-hero h2 {
  position: relative;
  z-index: 10;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: 2px;
}
.plus-header {
  box-shadow: 0 0 2px #e1e5e6;
}
.plus-header .plus-nav li {
  display: inline-block;
}
.plus-header .plus-nav li.active a {
  color: #dddddd;
}
.plus-header .plus-nav li a {
  color: #878787;
}
.plus-project-card .wrapper {
  width: 1010px;
  margin: 0 auto;
}
.plus-project-card .wrapper .main-title {
  color: #646878;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding-top: 66px;
  margin: 0;
}
.plus-project-card .wrapper .project-title {
  position: relative;
  font-size: 16px;
  color: #646878;
  text-align: center;
  margin-bottom: 30px;
}
.plus-project-card .wrapper .project-title:before {
  content: '';
  width: 100%;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 0;
}
.plus-project-card .project-card-items {
  margin: 0 0 50px;
  padding: 0;
}
.plus-project-card .project-card-items .project-card-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin-right: 56px;
  margin-bottom: 23px;
}
.plus-project-card .project-card-items .project-card-item .cool {
  position: relative;
  height: 280px;
  border-radius: 50%;
  background-color: #dddddd;
}
.plus-project-card .project-card-items .project-card-item .desc {
  text-align: center;
}
.plus-project-card .project-card-items .project-card-item .desc a {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
}
.plus-project-card .project-card-items .project-card-item .desc .state {
  font-size: 20px;
  font-weight: bold;
}
